{% extends 'base.html.twig' %}

{% block title %}
Midnight Blue | Turing Lab
{% endblock %}

{% block javascripts %}
<script>
  setTimeout(function(){
    window.location.reload(1);
  }, 5000);
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="card" style="width: 640px; margin: 25px auto">
    {% if cameraImg %}
    <img src="imgs/{{cameraImg.filename}}" class="card-img-top" alt="..." height="480" width="640">
    <p style="font-size: small;">Imagen actualizada el {{cameraImg.datetime.format('d/m/Y H:i:s') }}</p>
    {% else %}
    <p style="text-align: center; margin-top: 5px">No se ha recibido ninguna imagen</p>
    {% endif %}
    <div class="card-body" style="background-color: lightgray;">
      {% if roverCmd %}
      <p class="card-text"><b>Ohm1:</b> {{roverCmd.ohm1}}, <b>Ohm2:</b> {{roverCmd.ohm2}}, <b>Ohm3:</b> {{roverCmd.ohm3}}, <b>Ohm4:</b> {{roverCmd.ohm4}}</p>
      <p class="card-text" style="font-size: small;">Actualizado {{roverCmd.datetime.format('d/m/Y H:i:s') }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}